@font-face {
    font-family: "Monocraft";
    src: url("../fonts/Monocraft.ttf") format("truetype");
}

body {
    background-color: #f0f0f0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}